@charset "utf-8";
/* ★★★★common★★★★★ */

h1,h2,h3,h4,h5,p{
  margin: 0;
}
a{
  text-decoration: none;
  color:#fff;
  font-weight: bold;
}
.hidden{
  display: none;
}
.disappear{
  opacity: 0.1;
}
#to_top{
  position: fixed;
  bottom:36px;
  right:36px;
  font-size: 48px;
  color:red;
  font-weight: bold;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  transform:translateY(100px);
  transition:opacity 1s,transform 1s;
}
#to_top.appear{
  opacity:1;
  transform: none;
}
/* ▲▲▲▲▲variable▲▲▲▲▲▲▲ */
:root{
  --headerHeight:60px;
}

/* ★★★★★★★★★★★★★ */
body{
  background: #2b2b2b;
  margin: 0;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
/* ▲▲▲▲▲▲▲▲▲▲▲ */


/* ■■■■■■■■header■■■■■■■■■ */
header{
  position: fixed;
  top:0;
  width: 100%;
  height:var(--headerHeight);
  background: #023000;
  z-index:1;
}
/* ▲▲▲▲▲header_banner▲▲▲▲ */
#header_banner{
  position:relative;
  justify-content: space-between;
    display: flex;
    height:var(--headerHeight);
}
#chara{
  height:100%;
}
#title_area{
  flex:1; 
  text-align: center;
}
#main_title{
  object-fit: contain;
  max-width: 100%;
  height: 100%;
}
#sp_menu_icon{
  width: var(--headerHeight);
  text-align: center;
  cursor:pointer;
}
header i{
  line-height:var(--headerHeight);
  font-size: 36px;
  color:#fff;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
#sp_menu{
  /* position: absolute; */
  width:60%;
  margin: 32px auto;
  /* top:var(--headerHeight);
  right:0; */
  padding: 24px 16px;
  text-align: center;
  background: #023000;
  border-radius: 8px;
  transform:none;
  box-shadow: 8px 8px 4px 4px #222;
  transition:opacity 1s,transform 1s;
}
#sp_menu h1{
  color:#fff;
}
#sp_menu.disappear{
  transform:translateY(-600px);
  
}
#sp_menu ul{
  padding: 8px;
}
#sp_menu li{
  list-style: none;
  margin: 16px 0;
  font-size: 24px;
  font-weight: bold;
  color:#fff;
}
/* ■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■main■■■■■■■■■ */
main{
  width:100%;
  /* background: #fff; */
  margin: var(--headerHeight) auto;
  padding-top: 16px;
}
main>h1{
  width: 80%;
  margin: 16px auto;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 4px 4px #fff;
  border-radius: 8px;

}
article{
  width: 96%;
  margin: 0 auto;
}
.content{
  background: #ecfaec;
  margin: 8px;
  border-radius: 8px;
  box-shadow: 0 0 8px -2px #023000;
  padding:8px;
  opacity:0;
  transition:opacity 1s,transform 1s;
  transform:translateY(50px);
}
.content.appear{
  opacity:1;
  transform:translateY(0);
}
.content + .content{
  margin-top: 24px;
}
.content h2{
  padding:8px;
  text-align: center;
  height: 60px;
}
.content h2::before{
  content:'<';
}
.content h2::after{
  content:'>';
}
.content .movies{
  margin: 0 auto;
}








/* ////////////////// */

main img{
  width: 100%;
}
@media(min-width:600px){
  :root{
    --headerHeight:100px;
   }
   .content h2{
    font-size: 1.5VW;
  }
  .content + .content{
    margin-top: 8px;
  }
  article{
    display:grid;
    grid-template-columns: repeat(2,1fr);
  }

}



@media(min-width:800px){
  /* ▲▲▲▲▲variable▲▲▲▲▲▲▲ */
  article{
    display:grid;
    grid-template-columns: repeat(3,1fr);
  }
  
}
