body{
  margin:0;
  background-color: #444;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,h2,p,li,ul{
  margin: 0;
  
}
h2{
font-size:18px;
}
h2::before,h2::after{
  content:" ◆ "
}
header{
  background-color: #bbb;
  color:#444;
  text-align: center;
}
a{
  color:#c1c4e9;
  text-decoration: none;
}
a:hover{
  opacity: 0.7;
}
.container{
  margin-left:5px;
  border:1px solid #444;;
}
#contents{
  margin-left:10px;
}
#shortCut{

  margin:10px 5px;
  background-color: #bbb;
  color:#444;
}
#shortCut a{
  color:#223a70;
}