body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #e1f7eb;
  margin: 0;
}
h1,h2,h3,div,p,ul{
margin: 0;
}
li>a{
  text-decoration: none;
  color: red;
  font-weight: bold;
}




header{
  background-color: #185c37;
  width:100%;
  display: flex;
  position: fixed; 
  justify-content: space-between;
  z-index: 1;
}
header #title_banner{
  display: flex;

}
header #title{
  margin: 16px auto;
  padding-left: 16px;
  width: 100%;
  position: relative;
  
}
#pic{
  position: absolute;
  top: 0;
  right:0;
}
#menu{
  width: 100%;
  height: 16px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom:-16px;
}
#menu h3,p{
  padding: 0 16px;
  line-height: 24px;;
}


header h1{
  color: aliceblue;
  font-size: 18px;
}
.content h3::before{
  content:'<';
}
.content h3::after{
  content:'>';
}

header div{
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;  
  vertical-align:middle;
}

#pic img{
  height: 100px;
}
main{
  padding-top: 120px;
  
}
#desc{
  /* display: none; */
  opacity:0;
  visibility: hidden; 
  position: fixed;
  top:5%;
  left:50%;
  margin: 0 auto;
  width: 90%;
  padding:8px;
  background: #333;
  color:#fff;
  border-radius: 8px;;
  transform:translatex(-50%);
  transition: opacity .5s;
  z-index: 1;
}
#about:hover{
  cursor: pointer;
}
#desc.appear{
  opacity:1;
  visibility: visible; 

}
#about,#menu_index{
  background: rgb(7, 132, 182);
  margin-left: 8px;
  margin-top: 8px;
  color:#fff;
  height: 24px;
  border-radius: 50%;
  z-index:1;
  opacity: .8;
}
#menu_index a{
  color: #fff;
  text-decoration:none;
}
#desc p{
  font-size: 14px;
  line-height: 150%;
  /* padding:4px; */
}
.office{
  width:75%;
  margin: 0 auto;
  padding:16px;
  background: #a2d7dd;
  border-radius: 8px;

}
.content{
  margin: 10px 0;
  width:calc(100% - 10px);
  box-shadow: 8px 4px 8px #bbb;
  border-radius: 8px;
  background-color: #b6ecce;
  color:#444;
  opacity:0;
  transform:translateY(50px);
  transition:opacity .8s,transform .8s;
}
.content img{
  width: 100%;
  /* margin-bottom: 5px; */
}
.content h4{
  padding:8px;
  margin: 0;
  /* text-align: center; */
}
.content h4::before{
  content:"＜"
}
.content h4::after{
  content:"＞"
}

.content.appear{
 opacity:1;
 transform:translateY(0);
}
.content ul{
  font-size: 80%;
  padding-bottom: 8px;
  /* font-weight: bold; */
}
.content li{
  font-size: 16px;
}
.movies{
  width: 95%;
  /* height:100%; */
  margin:0 auto;
  position:relative;
}
.movies:hover{
  opacity:0.7;
}
.movies>a{
  display: block;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
}
.movies img{
  margin-top: 8px;
}
footer{
  margin: 36px;
  text-align: center;
  color:#949495;
}
@media(min-width:600px)
{
  main{
  padding-top: 160px;
  
}
  header h1{
    font-size: 2.0em;
  }
  .articles{
    width:95%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(2,1fr);
  }
  .content{
    width:95%;
  }
  #desc{
    width: 540px;;
  }
}

@media(min-width:800px){
  body{
    width: 800px;
    margin: 0 auto;
  }
  header{
    width:800px;
  }
  #desc{
    width: 720px;
  }
  .articles{
    width: 95%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: auto auto; */
  }
  /* .content{
    width:250px;
  } */

}
